@page

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Date and Time</title>
</head>
<body>
    <h1>Current Local Date and Time</h1>
    <p>@DateTime.Now.ToString("F")</p>
</body>
</html>